*{
    direction: rtl;
}

article .share-link{
    margin: 0;
}

.social-icons > :not([hidden]) ~ :not([hidden]) {
    margin: .16em;
}

.social-icons li {
    margin: .16em;
}

.social-icons li a{
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}

.social-icons li a i{
    font-size: 2em
}

.social-icons li a:is(.dark *){
    background-color: white !important;
}